* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    justify-content: space-between;
    height: 100vh;
}

.dark-mode {
    background-color: #141414;
    color: #fafafa;
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
}

.header__title {
    font-size: 40px;
}

.header__button {
    font-size: 2.5rem;
    cursor: pointer;
}

.container {
    width: 900px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.background {
    animation: bg-animation 600s infinite linear;
    background: url(imgs/background.png);
    background-repeat: repeat-x;
    background-size: auto;
    height: 300px;
    width: 900px;
    margin: auto;
    position: relative;
    bottom: 0;
    overflow: hidden;
    text-align: center;
}

.dark-mode .background {
    background-image: url(imgs/background-dark-mode.png);
}

@keyframes bg-animation {
    from {
        background-position: 40000%;
    }

    to {
        background-position: 0;
    }
}

.start {
    margin-top: 100px;
}

.start__instructions {
    margin-top: 30px;
    font-size: 16px;
}

.character {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

.obstacle {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.game-over__title {
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.start__button,
.game-over__button {
    background-color: #bdbdbd65;
    border: none;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    height: 50px;
    width: 100px;
}

.start__button:hover,
.game-over__button:hover {
    background-color: #0000008a;
    color: white;
}

.dark-mode .start__button,
.dark-mode .game-over__button {
    background-color: #00000065;
    color: white;
}

.dark-mode .start__button:hover,
.dark-mode .game-over__button:hover {
    background-color: #bdbdbd9a;
    color: black;
}

footer {
    background-color: #bdbdbd65;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 70px;
    justify-content: center;
    font-size: 14px;
    width: 100%;
}

.dark-mode footer {
    background-color: #bdbdbd28;
}

.footer__link {
    color: #141414;
    text-decoration: none;
}

.footer__link:hover {
    font-size: 18px;
    transition: 0.3s linear;
}

.dark-mode .footer__link {
    color: #fafafa;
}